.navItem {
  display: inline-block;
  margin-right: 50px;
  list-style: none;

  &__Link {
    font-size: 14px;
    text-decoration: none;
    color: #818181;

    &Active {
      font-weight: 700;
    }
  }
}